#description.contentBlock
  The original web 2.0 social micro-e-bless-you sneezeplatform.

= render :partial => 'bless_yous/bless_you_form'

%h2 How Does Blessr.com work?
.contentBlock
  %ol#howDoesItWork
    %li
      = image_tag "sneeze.jpg",
        :title => 'from http://www.flickr.com/photos/mcfarlandmo/4014611539/'
      person sneezes
    %li
      = image_tag "listen.jpg"
      you hear the sneeze
    %li
      = image_tag "logon.jpg",
        :title => "from http://www.flickr.com/photos/tim846/4528738089/"
      you visit
      = link_to "blessr.com", "/"
    %li
      = image_tag "cloud.jpg"
      blessr.com uses state of the art faster than sound* cloud technology to rapidly
      deliver your eBlessYou promptly to the sneezer in realtime.
      .footNotes
        * over some large distances

%h2 Recent e-Bless-Yous
.blessYous
  - @bless_yous.each do |bu|
    .blessYou
      = h bu.your_name
      sent a e-Bless-You to
      = bu.to_name ? h(bu.to_name) : "someone"
      at
      = h bu.created_at