#description.contentBlock
  The original web 2.0 social micro-e-bless-you sneezeplatform.

- form_for @bless_you,
    :builder => BlessrFormBuilder,
    :html => {:class => "contentBlock"} do |f|
  %h2 Send an e-Bless-You NOW!
  = f.text_field :to_email
  = f.text_field :to_name
  = f.text_field :your_name
  = f.text_area :message
  = f.submit "send e-Bless-You", :name => nil

%h2 How Does Blessr.com work?
.contentBlock
  %ol#howDoesItWork
    %li
      = image_tag "sneeze.jpg",
        :title => 'from http://www.flickr.com/photos/mcfarlandmo/4014611539/'
      person sneezes
    %li
      = image_tag "listen.jpg"
      you hear the sneeze
    %li
      = image_tag "logon.jpg",
        :title => "from http://www.flickr.com/photos/tim846/4528738089/"
      you visit
      = link_to "blessr.com", "/"
    %li
      = image_tag "cloud.jpg"
      blessr.com uses faster-than-sound* cloud technology to deliver your
      eBlessYou promptly to the sneezer in realtime.
  .footNotes
    * over some large distances

%h2 Recent e-Bless-Yous
.blessYous
  - @bless_yous.each do |bu|
    .blessYou
      = h bu.your_name
      sent a e-Bless-You to
      = bu.to_name ? h(bu.to_name) : "someone"
      at
      = h bu.created_at