<!DOCTYPE html>
%html
  %head
    %title Blessr.com - e-Bless-You - sneezeshare - web 2.0
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
%body
  #header
    %h1
      = link_to image_tag("blessr.png"), "/"
      %span.smallText (beta)
    .nav
      = link_to_unless_current "Home", "/"
      &middot;
      = link_to_unless_current "News", news_path
      &middot;
      = link_to "Source", "http://github.com/michaeleconomy/blessr"
  #main
    - if !flash[:notice].blank?
      #flash
        = h flash[:notice]
    = yield
    #footer
      .copyRight
        &copy; michael economy
        = Date.today.year