<!DOCTYPE html>
%html
  %head
    %title Blessr.com - e-Bless-You - sneezeshare - web 2.0
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
%body
  #header
    %h1
      = link_to image_tag("blessr.png"), "/"
      %span.smallText (beta)
    .nav
      = link_to_unless_current "Home", "/"
      &middot;
      = link_to_unless_current "News", news_path
      &middot;
      = link_to "Source", "http://github.com/michaeleconomy/blessr"
  #main
    - if !flash[:notice].blank?
      #flash
        = h flash[:notice]
    = yield
    #footer
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FBlessrcom%2F114321218630781&amp;width=292&amp;colorscheme=light&amp;connections=5&amp;stream=false&amp;header=false&amp;height=250" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:250px;" allowTransparency="true"></iframe>
      #copyright
        &copy; michael economy
        = Date.today.year